.login {
  align-items: center;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  margin-top: 310px;
  padding: 80px;
}

.title-login {
  background-color: aquamarine;
  font-size: xx-large;
  padding: 10px;
  text-align: center;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border: solid 2px gray;
}

form button {
  background-color: gray;
  border: solid 2px gray;
  border-radius: 6px;
  color: white;
  font-weight: 900;
  margin: auto;
  margin-top: 20px;
  padding: 6px;
  text-align: center;
  width: 60%;
}

