* {
  margin: 0;
  padding: 0;
}
.login {
  align-items: center;
  background-color: #304D63;
  display: flex;
  flex-direction: column;
  margin-top: 310px;
  padding: 80px;
}

.title-login {
  background-color: #ED8975;
  font-size: xx-large;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login input {
  border: solid 2px #808080;
  margin-top: 8px;
}

.form-login button {
  background-color: rgb(182, 181, 181);
  border: solid 2px #808080;
  border-radius: 6px;
  color: white;
  font-weight: 900;
  margin: auto;
  margin-top: 8px;
  padding: 6px;
  text-align: center;
  width: 60%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #ED8975;
  font-family:'Trebuchet MS', Arial, sans-serif;
  color: #304D63;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  background-color:#304D63;
  padding: 8px 0;
}

.link-header {
  color: white;
  text-decoration: none;
}

.form-search {
  padding: 20px 0;
  text-align: center;
}

.button-search {
  margin-left: 8px;
  background-color: rgb(182, 181, 181);
  border: solid 2px #808080;
  border-radius: 6px;
  color: white;
  font-weight: 900;
  padding: 4px;
  margin-top: 20px;
}

input {
  padding: 4px;
}

.list-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.list-albums li {
  width: 130px;
  height: 140px;
  text-align: center;
  margin-top: 30px;
}